html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#group {
    width: 100%;
    height: 96vh;
    margin: 0;
    padding-top: 4vh;
    display: flex;
    flex-flow: row wrap;
}

.grids {
    display: inline-block;
    background-color: white;
    border: 1px black solid;
}


#buttons {
    display: flex;
    width: 100%;
    height: 4vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    pointer-events: auto;
    background-color: beige;
}
#reset {
    width: 20%;
    height: 5vh;
    border-radius: 10px;
    font-size: larger;
}


